@import url(../css/reset.css);

/*cor do body*/
.fighting {
    background-color: #CE4069;
}
.psychic {
    background-color: #F97176;
}
.poison {
    background-color: #AB6AC8;
}
.dragon {
    background-color: #096DC3;
}
.ghost {
    background-color: #5269AD;
}
.dark {
    background-color: #5B5265;
}
.ground {
    background-color: #D97746;
}
.fire {
    background-color: #FE9C55;
}
.fairy {
    background-color: #EC90E7;
}
.water {
    background-color: #4D90D6;
}
.flying {
    background-color: #8FA8DE;
}
.normal {
    background-color: #9099A2;
}
.rock {
    background-color: #C9B68B;
}
.electric {
    background-color: #F4D23B;
}
.bug {
    background-color: #90C02C;
}
.grass {
    background-color: #65BC5E;
}
.ice {
    background-color: #73CEBF;
}
.steel {
    background-color: #5B8EA1;
}
#content #container-pokemon  {
    display: flex;
    flex-direction: column;
    height: 410px;
    padding: 28px 16px 0 16px;
}
#content #container-pokemon .botoes {
    display: flex;
    justify-content: space-between;
}
#content #container-pokemon .botoes button {
    width: 30px;
    height: 30px;
    object-fit: cover;
    background: transparent;
    border: none;
}
#content #container-pokemon .botoes button img {
    width: 100%;
}
#content #container-pokemon .pokemon-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 16px 0 16px 0;
}
#content #container-pokemon .pokemon-title h1 {
    font-size: 2rem;
    margin: 0;
}
#content #container-pokemon .pokemon-title p {
    font-size: 1rem;
    margin: 0;
}
#content #container-pokemon .tipos {
    text-align: center;
    width: 80px;
}
#container-pokemon .tipos .tipo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    filter: brightness(1.1);
    border-radius: 40px;
    margin-bottom: 0 6px 6px 0;
}
#content #container-pokemon .img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#content #container-pokemon .img img {
    width: 330px;
    height: 330px;
}

#container-text {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    padding: 16px;
}
#container-text a {
    color: rgb(120, 120, 120);
}
#container-text #menu {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-bottom: 15px;
    height: 30px;
}
#container-text #sobre {
    display: grid;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 15px;
    color: rgb(120, 120, 120);
}
#container-text #sobre section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1fr);
}
#container-text #sobre p {
    color: black;
}
#container-text #sobre section .genero {
    display: inline-flex;
    gap: 6px;
}
#container-text #sobre section .genero img {
    width: 20px;
    height: 20px;
}